In [1]:
import pandas as pd

ds_job_salary = pd.read_csv('datascience_salaries.csv')
ds_job_salary.head()

,Unnamed: 0,job_title,job_type,experience_level,location,salary_currency,salary
0,0,Data scientist,Full Time,Senior,New York City,USD,149000
1,2,Data scientist,Full Time,Senior,Boston,USD,120000
2,3,Data scientist,Full Time,Senior,London,USD,68000
3,4,Data scientist,Full Time,Senior,Boston,USD,120000
4,5,Data scientist,Full Time,Senior,New York City,USD,149000

In [2]:
print(ds_job_salary['salary'].describe())

count      1171.000000
mean      64836.037575
std       32551.767046
min       30000.000000
25%       45000.000000
50%       63000.000000
75%       68000.000000
max      228000.000000
Name: salary, dtype: float64

In [3]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
ds_job_salary['salary_normalized'] = scaler.fit_transform(ds_job_salary[['salary']])
# []   -> Series
# [[]] -> dataFrame

# ds_job_salary.head()
print(ds_job_salary[['salary', 'salary_normalized']].head())

   salary  salary_normalized
0  149000           0.601010
1  120000           0.454545
2   68000           0.191919
3  120000           0.454545
4  149000           0.601010

In [4]:
from sklearn.decomposition import PCA

#This line creates an instance of the PCA class with the parameter n_components set to 2.
# It specifies that we want to reduce the dimensionality of the data to 2 principal components.
#In other words, the data will be projected into a 2D space.
pca = PCA(n_components=1)
reduced_ds_job_salary = pca.fit_transform(ds_job_salary[['salary_normalized']])

ds_job_salary["PCA_Salary"] = reduced_ds_job_salary
print(ds_job_salary.head())

   Unnamed: 0       job_title   job_type experience_level       location  \
0           0  Data scientist  Full Time           Senior  New York City
1           2  Data scientist  Full Time           Senior         Boston
2           3  Data scientist  Full Time           Senior         London
3           4  Data scientist  Full Time           Senior         Boston
4           5  Data scientist  Full Time           Senior  New York City

  salary_currency  salary  salary_normalized  PCA_Salary
0             USD  149000           0.601010    0.425071
1             USD  120000           0.454545    0.278606
2             USD   68000           0.191919    0.015980
3             USD  120000           0.454545    0.278606
4             USD  149000           0.601010    0.425071

In [5]:
grp_experience_level = ds_job_salary.groupby('experience_level')['salary'].agg(['mean', 'median'])
print(grp_experience_level)

                          mean   median
experience_level
Entry             36111.111111  30000.0
Executive         76076.923077  46000.0
Mid               51786.885246  51000.0
Senior            75088.033012  68000.0